node_modules
.git
.gitignore
README.md
.env
.npmrc
Dockerfile
.dockerignore
.bun-version
.vscode
.nyc_output
coverage
*.tgz
*.log
npm-debug.log*
npm-shrinkwrap.json
dist
build
tmp
.cache
.DS_Store
.idea
*.iml
.vault
.env.local
